/* ----- Typography ----- */

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 3.2rem 0 0.8em;
}

/*
	Heading sizes based on a modular scale of 1.25 (all)
*/
h1 {
	font-size: 2.441rem;
	line-height: 1.1;
}

h2 {
	font-size: 1.953rem;
	line-height: 1.15;
}

h3 {
	font-size: 1.563rem;
	line-height: 1.2;
}

h4 {
	font-size: 1.25rem;
	line-height: 1.3;
}

h5 {
	font-size: 1rem;
	line-height: 1.4;
}

h6 {
	font-size: 1rem;
	line-height: 1.4;

	/* differentiate from h5, somehow. color or style? */
}

p,
ul,
ol,
figure {
	margin: 0.6rem 0 1.2rem;
}

/*
	Subtitles
	- Change to header h* + span instead?
	- Add support for taglines (small title above main) as well? Needs <header>:
	  header > span:first-child
*/
h1 span,
h2 span,
h3 span,
h4 span,
h5 span,
h6 span {
	display: inline-block;
	font-size: 1em;
	font-style: italic;
	font-weight: normal;
	line-height: 1.3;
	margin-top: 0.3em;
}

h1 span {
	font-size: 0.6em;
}

h2 span {
	font-size: 0.7em;
}

h3 span {
	font-size: 0.8em;
}

h4 span {
	font-size: 0.9em;
}

small {
	font-size: 1em;
	opacity: 0.8; /* or some other way of differentiating it from body text */
}

mark {
	background: pink; /* change to proper color, based on theme */
}

/*
	Define a custom tab-size in browsers that support it.
*/
pre {
	tab-size: 4;
}

/*
	Long underlined text can be hard to read for dyslexics. Replace with bold.
*/
ins {
	text-decoration: none;
	font-weight: bolder;
}

blockquote {
	border-left: 0.3rem solid var(--theme);
	margin: 0.6rem 0 1.2rem 0;
	padding-left: 2rem;
}

blockquote p {
	font-size: 1.2em;
	font-style: italic;
}

figure {
	margin: 0;
}
